@font-face {
	font-family: "Chinese Rocks";
	src: url('chineserocks.ttf');
	unicode-range: U+0020-007F;
}

html, body {
	background: none;
	padding: 0;
	margin: 0;
	font-family: "Chinese Rocks", Helvetica;
}

#prompt {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#dead {
	color: #f00;
	font-size: 9vh;
	text-align: center;
}

#cooldown-timer {
	color: #fff;
	font-size: 2vh;
	text-align: center;
}

.instructions {
	text-align: center;
	color: #fff;
	font-size: 3vh;
}

.command {
	color: #fff;
}

.visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.25s linear;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.25s, opacity 0.25s linear;
}

#killer {
	display: none;
	color: #fff;
	text-align: center;
	font-size: 1.7vh;
	color: #f00;
	padding-bottom: 1.5vh;
}

#killer-name {
	color: #fff;
}
